{% extends 'base.html.twig' %}
{% block title %}
	Create Blog
{% endblock %}
{% block navbar_brand %} {{" Editing Blog N. "~ blog.id}} {% endblock %}
{% block body %}
	<div class="container pt-5">
		<div class="col-lg-8 align-center">
			{% for label, messages in app.flashes %}
				{% for message in messages %}
					{# <div class="flash-{{ label }}">
						{{ message }}
					</div> #}
					<div class="alert alert-success mt-5">{{ message }}</div>
				{% endfor %}
			{% endfor %}

			{% form_theme form 'bootstrap_4_layout.html.twig' %}

			{{ form_start(form) }}
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
	$('.custom-file-input').on('change', function(event) {
	    let inputFile = event.currentTarget;
	    $(inputFile).parent().find('.custom-file-label').html(inputFile.files[0].name);
	});
	</script>
{% endblock %}