{% extends 'base.html.twig' %}
{% block title %}
	Lista Blog
{% endblock %}
{% block stylesheets %}
	<style>
		.align-center {
			margin: 0 auto;
		}
	</style>
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-lg-10 align-center">

				{% for label, messages in app.flashes %}
					{% for message in messages %}
						<div class="flash-{{ label }}">
							{{ message }}
						</div>
					{% endfor %}
				{% endfor %}

				<table class="table table-striped mt-4">
					<thead class="thead-dark">

						<tr>
							<th></th>
							<th>Title</th>
							<th>Short description</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for blog in blogs %}
							<tr>
								{# <td><img src="{{blog.getImage()}}" alt="immagine non presente" width="250" height="200" onerror="if (this.src != 'default.png') this.src = 'default.png';"/></td> #}
								{# <td><img src="{{blog.getImage()}}" alt="immagine non presente" width="250" height="200"></td> #}
									<td>
										<div class="col-md-8"> <img src="{{asset(blog.getImage)}}" alt="immagine non presente" class=" img-fluid mx-auto"/>
									</div>
								</td>
								<td>{{ blog.getTitle() }}</td>
								<td>{{ blog.getShortDescription() }}</td>
								<td>
									<div class="col-lg-12 justify-content-center">
										<a href="{{ path('app_blog_view', {id: blog.id})}}" class="btn btn-success">VIEW</a>
										<a href="{{ path('app_main_editblog', {id: blog.id}) }}" class="btn btn-primary">Edit</a>
										<a href="{{ path('app_blog_delete', {id: blog.id}) }}" onclick="return confirm('Sei sicuro?');" class="btn btn-danger">DELETE</a>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>

			</div>
		</div>
	</div>
{% endblock %}
